.imageCover {
    width: 100vw;
    height: 697px;
}

.bg {
    object-fit: cover;
    width: 100vw;
    height: 697px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.gradient {
    width: 100%;
    height: 697px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-blend-mode: overlay;
    opacity: 0.6;
    z-index: 2;
}

.topContent {
    position: relative;
    z-index: 3;
    width: 100vw;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

.navbar2 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px 0px 40px;
    color: #e50914;
    position: relative;
    z-index: 3;
}

.title2 {
    height: 45px;
    width: 167px;
    object-fit: cover;
}

.title2:hover {
    cursor: pointer;
    transition: .4s ease-out;
    transform: scale(1.1);
}

@media (max-width: 425px) {
    .title2 {
        top: 15px;
        left: 0px;
    }
    .btn {
        position: relative;
        left: 20px;
    }
}
